@import url('./reset.css');

.timer{
  display: flex;
  margin-top: 16px;
 
}
.field{
  display: flex;
  flex-direction: column;
 align-items: center;
 margin-right: 8px;
}
.value{
  font-size: 32px;
}
fieldset{
  max-width: 240px;
  margin-top: 4px;
}
.notbtn{
  margin-top: 8px;
}